
h1 {
     color: orange;
     text-align: center;
     font-size: 30px;
 }
 body{
 	background-image: url("social-media.jpg");
 }
 ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
}
ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: red;}


ul.topnav li.icon {display: none;}